<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vicky7230.tasker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TaskerApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".ui._7finishedDeleted.FinishedDeletedTasksActivity"></activity>
        <activity
            android:name=".ui._6taskList.TasksActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui._5newTask.NewTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui._4home.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui._3verifyOTP.VerifyOtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui._2login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui._1splash.SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="false"
            android:exported="false"
            tools:node="remove" />
    </application>

</manifest>